*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(50, 50, 50);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}
.navbar{
    background: rgb(50, 50, 50);
    height: 5rem;
    width: 100vw;
    max-width: 90%;
    margin: 0 auto; 
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 7rem;
}

.desktopMenuListItem{
    margin: 1rem;
    color: white;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}



.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}


.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40,40);
    border-radius: 1rem;
}

.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;
    }
}

/* Intro */

#intro{
    height: calc( 100vh - 4rem );
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    filter: drop-shadow(15px 7px 10px #ece7b7);
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.introContent .scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 15em;
  }
  .introContent .scroller > span {
    position: absolute;
    top: 0;
    /* animation: slide 6s infinite; */
    /* font-weight: bold; */
    
  }

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn{
    background: white;
    margin: 1rem 0.5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
    
}

@media screen and (max-width: 840px) {
    .bg{
        right: -30vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px) {
    .bg{
        right: -50vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
}

@keyframes slide {
    0% {
      top: 0;
    }
    20% {
      top: -1.2em;
    }
    40% {
      top: -2.4em;
    }
    60% {
        top: -3.6em;
    }
    /* 80% {
        top: -4.8em;
    } */
  }

  /* About */

  .about {
    padding: 1.2rem;
    margin: 1rem;
    text-align: justify;
   }
   
   .about h1 {
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 15px;
   }
   
   .about p {
    color: #a1a1a1;
    font-size: 0.9rem;
    padding: 0 1vw 0 1vw;
    line-height: 1.5;
   }

   /* Education */

   #Education{
    overflow: hidden;
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.eduTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}
.eduDesc{
    font-weight: 300;
    text-align: justify;
    font-size: 0.9rem;
    max-width: 70rem;
    padding: 0 2rem;
}

.eduBars{

    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(80, 80, 80);

    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    width: 100vw;
    max-width: 90%;
    text-align: left;
}
.eduBarImg{
    /* object-fit: cover; */
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;

}

.eduBarText>p{
    margin: 0 2% 2% 0;
    font-size: 0.8rem;
    font-weight: 200;
}

@media screen and (max-width: 720px) {
    .eduBarText>p{
        font-size: 2vw;
    }
    .eduBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .eduBarText>h2{
        font-size: 5vw;
    }
}

/* Skills */

#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
    /* align-content: center; */
    text-align: center;
    margin: 0 auto;
}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillDesc{
    font-weight: 400;
    text-align: justify;
    font-size: 0.9rem;
    max-width: 70rem;
    padding: 0 2rem;
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 90%;
    text-align: left;
}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(80, 80, 80);
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p{
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width: 720px) {
    .skillBarText>p{
        font-size: 2vw;
    }
    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2{
        font-size: 5vw;
    }
}

/* Work */

#works{
    overflow: hidden;
    width: 100vw;
    min-height: calc(100vh - 4rem);
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
    /* align-content: center; */
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem; 
}

.worksTitle{
    margin: 1rem 0;
    font-size: 2rem;
}

.worksDesc{
    font-weight: 300;
    text-align: justify;
    font-size: 0.8rem;
    max-width: 55rem;
}

.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 70rem;
}

.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.worksBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    color: black;
    cursor: pointer;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}
#frame{
  position:relative;
  padding:0;
  margin:0;
  border:solid 5px #555; 
  max-width:600px;
  margin:40px auto;
  box-shadow:-3px -3px 12px #999;
  
  }
#border{
  position:relative;
  padding:0;
  margin:0;
  border:solid 5px white;
 box-shadow:-3px -3px 12px #999;
     }  
.certificate{
  display:block;
  object-fit: cover;
  padding:0;
  margin:0;
  height: 10rem;
  margin: 0.5rem;
  border-top:solid 2px #aaa;
  border-left:solid 2px #aaa;
  border-bottom:solid 2px #ccc;
  border-right:solid 2px #ccc;
  }

@media screen and (max-width:585px) {
    .worksImg{
        height: 40vh;
    }
}

/* Contact and Project */

#Projects{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contactPageTitle2{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.clientDesc{
    font-weight: 300;
    font-size: 1rem;
}

.clientImgs{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg{
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

#clinets{
    padding: 2rem;
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm{
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn{
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}

